<configuration>
<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/currency.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <FileNamePattern>currency-%d{yyyy-MM-dd}.log.%i</FileNamePattern>
        <maxFileSize>5mb</maxFileSize>
    </rollingPolicy>
    <encoder>
        <Pattern>%mdc %d{HH:mm:ss} %-5level [%thread] %logger{35} - %msg %n</Pattern>
    </encoder>
</appender>

<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <Pattern>%mdc %d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{35} - %msg %n</Pattern>
    </encoder>
</appender>


<root level="INFO">
    <appender-ref ref="fileAppender" />
    <appender-ref ref="consoleAppender" />
</root>
</configuration>